# Server Configuration
PORT=3000

# JWT Secret Key (güçlü bir anahtar kullan!)
JWT_SECRET=your-super-secret-key-change-this-in-production

# JWT Token Expiration (opsiyonel)
JWT_EXPIRES_IN=24h

# MongoDB Connection
# Local MongoDB için:
# MONGODB_URI=mongodb://localhost:27017/mini-server
# MongoDB Atlas için (cloud):
MONGODB_URI=mongodb+srv://esragumus7788_db_user:oILRlnKktmflTeTM@cluster0.tp3qtex.mongodb.net/mini-server?appName=Cluster0

